<form  [formRoot]="movieForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text"
           class="form-control"
           id="title"
           [formField]="movieForm.title"
    >
    @if (movieForm.title().touched() &&  movieForm.title().invalid()) {
      <div class="alert alert-danger">
        <ul>
          @for (error of movieForm.title().errors(); track error) {
            <li>{{ error.message }}</li>
          }
        </ul>
      </div>


    }

  </div>
  <div class="form-group">
    <label for="year">Year</label>
    <input type="number"
           class="form-control"
           [formField]="movieForm.year"
    >
    @if (movieForm.year().touched() && movieForm.year().invalid()) {
      <div class="alert alert-danger">
        <ul>
          @for (error of movieForm.year().errors(); track error) {
            <li>{{ error.message }}</li>
          }
        </ul>
      </div>


    }
  </div>

  <div>
    <button type="submit" class="btn btn-primary"
            [disabled]="!movieForm().valid()">Submit</button>
    <button type="button" class="btn btn-primary" (click)="update()">Update</button>

  </div>
</form>
